rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Make sure all user documents are only readable and writeable by the user themselves
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Protect trips collection based on user ownership
    match /trips/{tripId} {
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
      allow read, update, delete: if request.auth != null && resource.data.userId == request.auth.uid;
    }

    // Default deny all other collections
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
